<section class="mt-5">
  <table class="table table-md mt-2 w-full">
    <!-- head -->
    <thead>
      <tr>
        <th>#</th>
        <th>Icono</th>
        <th>Bandera</th>
        <th>Nombre</th>
        <th>Capital</th>
        <th>Poblacion</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (country of countries(); track country.code; let index = $index) {
      <tr>
        <td>{{ index + 1 }}</td>
        <td>
          {{ country.flag }}
        </td>
        <td>
          <img [src]="country.flagSvg" [alt]="country.name" class="w-10" />
        </td>
        <td>{{ country.name }}</td>
        <td>{{ country.capital }}</td>
        <td>
          <span class="badge badge-secondary">{{
            country.population | number
          }}</span>
        </td>
        <td>
          <a
            [routerLink]="['/country/by', country.code]"
            class="link-primary cursor-pointer"
            >Más info</a
          >
        </td>
      </tr>
      }
      <!-- -->
      @if (errorMessage()) {
      <tr>
        <td colspan="8" class="text-center">
          <div class="alert alert-danger">{{ errorMessage() }}</div>
        </td>
      </tr>
      }
      <!-- -->
      @if (!countries().length && !isLoading() && !errorMessage()) {
      <tr>
        <td colspan="8" class="text-center">
          <div class="alert alert-danger">No se encontraron resultados</div>
        </td>
      </tr>
      }
      <!-- -->
      @if (isLoading()) {
      <tr>
        <td colspan="8" class="text-center">
          <div class="alert alert-info">Buscando países</div>
        </td>
      </tr>
      }
    </tbody>
  </table>
</section>
